<!-- Contact -->
<div class="wrapper style4">
  <article id="contact" class="container 75%">
    <h2>To join me</h2>
    <div class="row">
      <div class="5u">
        <ul class="icons">
          <li class="icon fa-home">
            <p class = "ville">
            {{datas.adresse}}<br />
              {{datas.codepost}} - {{datas.ville}}<br />
            {{datas.pays}}
            </p>
          </li>
          </ul>
          </div>
      <div class = "2u">
      <ul>
          <li class="icon fa-phone"><br />
            {{datas.telemobile}}
          </li>
        </ul>
      </div>
      <div class = "5u">
        <ul>
          <li class="icon fa-envelope"><br />
            {{datas.courriel}}
          </li>
        </ul>
        </div>
      </div>
    <hr />
    <header>
      <h2>Give me some feedback !</h2>
      <p>Just fill out the following form.</p>
    </header>
    <div>
      <div class="row">
        <div class="12u">
          <form method="post" action="mailto:arnaudgarnier06@gmail.com">
            <div>
              <div class="row">
                <div class="6u">
                  <input type="text" name="name" id="name" placeholder="Your name" />
                </div>
                <div class="6u">
                  <input type="text" name="email" id="email" placeholder="Your email" />
                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <input type="text" name="subject" id="subject" placeholder="Subject" />
                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <textarea name="message" id="message" placeholder="Your message"></textarea>
                </div>
              </div>
              <div class="row 200%">
                <div class="12u">
                  <ul class="actions">
                    <li><input type="submit" value="Send" /></li>
                    <li><input type="reset" value="Clear" class="alt" /></li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <hr />
          <h3>Find me on</h3>
          <ul class="social">
            <li><a href="https://twitter.com/ArnoGarnier?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/arnaud.garnier.16" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://plus.google.com/108044106694524909137/about" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            <li><a href="https://github.com/m-bigglesworth" class="icon fa-github"><span class="label">Github</span></a></li>
          </ul>
          <hr />
          <footer>
            <ul id="copyright">
              <li>&copy; All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </footer>
        </div>
      </div>
    </div>
    </article>
  </div>
